<div class="container">
  <div class="footer footer--dark" style="font-family:'Quicksand';">
    <div class="container">
      <div class="footer__inner">
        <a href="https://darkhorsestocks.in/" class="footer__textLogo">Darkhorsestock</a><br>

        <div class="footer__data">
          <div class="footer__data__item">
            <p>Our Address<br>
              2 Parimiti Apartment,<br>Near Anjali Cross road,<br>Bhatta,Ahmedabad - 380007<br></p>
          </div>
          <div class="footer__data__item">
            <div class="footer__row">
              <strong><a href="privacy-policy.php">Privacy Policy</a><br></strong>
              <strong><a href="terms-conditions.php">Terms and Conditions</a><br></strong>
              <strong><a href="faq.php">FAQ</a><br></strong>
              <strong><a href="disclaimer.php">Disclaimer</a><br></strong>
              <strong><a href="refund-policy.php">Refund Policy</a><br></strong>
            </div>

          </div>

          <!-- Contact us -->
          <div class="footer__data__item">
            <div class="footer__row">
              <strong>Contact Us</strong>
            </div>
            <div class="footer__row">
              <a target="_blank" href="https://www.facebook.com/DARKHORSESTOCKS"><img src="assets/images/fb.svg"></a>
              <a href=" https://twitter.com/DARKHORSESTOCKS" target="_blank"><img src="assets/images/tw.svg"></a>
              <a href="https://www.linkedin.com/company/darkhorsestocks" target="_blank"><img src="assets/images/li.svg"></a>
              <a href="https://www.youtube.com/channel/UCKNoxoowoWYZEfKk8zIe8vQ/featured" target="_blank"><img
                  src="assets/images/youtube-play.png"></a>
              <a href=" https://telegram.me/darkhorsestocks"><img
                  src="assets/images/telegram-app.png"></a><br>

              <b>WhatsApp Number:</b>
              <a class="footer__link" href="https://api.whatsapp.com/send?phone=917874999975">+91-7874999975</a> <br>
              <b>Email:</b>
              <a class="footer__link" href="mailto:support@darkhorsestocksinception.in"
                data-type="mail">support@darkhorsestocks.in</a><br>

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="copyright-text">
      <span style="color: white;" >Copyright © 2019 Darkhorsestocks.in.All Rights Reserved.</span>
    </div>
  </div>

</div>
