<div class="google-sign-in" *ngIf="!user.userId">
  <span class="sign-in-text">Please login with your google account.</span>
  <button id="googleBtn" (click)="authenticate()" nbButton status="primary">
    Sign In
  </button>
</div>

<div *ngIf="user.userId && profileData && profileData.status !== '1'" class="payment-data">
  Hi {{ user.name }},
  <p>
    All our services including Dashboard are completely free. However a small contribution would help us add many more
    exciting features as our current operating costs are very high.
  </p>
  <p>We would request you to contribute whatever you can from your end because contributing even a small sum
    of 7,500-10000 Rs would be equivalent to giving just 150-200 Rs per stock or per week which you easily tend to spend
    on useless things. However We leave it upto you to contribute whatever you think is the appropriate value for
    darkhorsestocks services.</p>
  <p>
    Payments are collected only once a year in the month of the November.
  </p>
  <p>
    Don't worry you can still access to all darkhorsestock ideas even if you don’t participate in payments. We still
    wish to continue giving you access to all our ideas for a considerable future.
  </p>
  <p>Looking forward to your participation. And yes don’t forget to spread the word with your friends and family.</p>
  <p>Regards,</p>
  <p><a href="https://www.darkhorsestocks.in">www.darkhorsestocks.in</a></p>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onVerifySubmit()"
    class="register-form"
  >
    <input nbInput type="text" formControlName="code" value="dark123" hidden/>
    <button nbButton status="primary" type="submit">Next</button>
  </form>
</div>