<div class="google-sign-in" *ngIf="!user.userId">
  <span class="sign-in-text">Please login with your google account.</span>
  <button id="googleBtn" (click)="authenticate()" nbButton status="primary">
    Sign In
  </button>
</div>

<div
  *ngIf="user.userId && profileData && profileData.status !== '1'"
  class="payment-data"
>
  Hi {{ user.name }},
  <p>
    Sorry, but this dashboard currently is in development stage and due to its
    heavy operational cost we are limiting this feature only to selected
    darkhorsestocks members who have supported us since previous year.
  </p>
  <p>
    For rest of the users dashboard feature will be rolled out soon. In case
    your email does not exist in our records and you have the verification code
    then
  </p>
  <p>Please enter:</p>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onVerifySubmit()"
    class="register-form"
  >
    <input nbInput type="text" formControlName="code" />
    <button nbButton status="primary" type="submit">Verify</button>
  </form>
  <p>
    Meanwhile do Join us on WhatsApp to receive one new fundamentally strong
    idea with detailed research report every week including all future updates.
  </p>
  <p>
    Unlike other advisories which charge 30-35,000 for half the services we
    provide , we do not charge anything . We do accept payments in the form of
    donations once a year where users can whatever amount they think is worth
    for our services, which we use to overcome our high operating expenses
    incurred to keep darkhorsestocks up and running as well as providing
    excellent research via darkhorsestock ideas.
  </p>
  <p>Thank You. Regards <br /><b>DARKHORSESTOCKS</b></p>
</div>
