<div class="row">
  <div class="col-6">
    <nb-card>
      <nb-card-header>
        Sector
      </nb-card-header>
      <nb-card-body>
        <ngx-charts-pie-chart [scheme]="colorScheme"
                              [results]="sectorInfoResults"
                              [legend]="showLegend"
                              [labels]="showLabels"
                              [trimLabels]=false
        >
        </ngx-charts-pie-chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-charts-pie-chart
          [scheme]="colorScheme"
          [results]="bifurcationPieResults"
          [legend]="showLegend"
          [labels]="showLabels"
          [trimLabels]=false
        >
        </ngx-charts-pie-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row bifurcationBarChart">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Bifurcation
      </nb-card-header>
      <nb-card-body>
        <ngx-charts-bar-vertical
          [scheme]="colorScheme"
          [results]="bifurcationResults"
          [xAxis]="showXAxis"
          [yAxis]="showYAxis"
          [legend]="showBifurcationLegend"
          [xAxisLabel]=""
          [yAxisLabel]=""
          [trimXAxisTicks]=false
        >
        </ngx-charts-bar-vertical>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Overall Records
      </nb-card-header>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Gain Records">
          <ng2-smart-table [settings]="gainLossTableSettings" [source]="gainOverallRecords"></ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="Loss Records">
          <ng2-smart-table [settings]="gainLossTableSettings" [source]="lossOverallRecords"></ng2-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Daily Records
      </nb-card-header>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Gain Records">
          <ng2-smart-table [settings]="gainLossTableSettings" [source]="gainDailyRecords"></ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="Loss Records">
          <ng2-smart-table [settings]="gainLossTableSettings" [source]="lossDailyRecords"></ng2-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        All Share Values
      </nb-card-header>
      <nb-card-body>
        <ng2-smart-table [settings]="allShareTableSettings" [source]="allShareValuesRecords"></ng2-smart-table>
      </nb-card-body>
    </nb-card>
  </div>
</div>
