<div class="row">
  <div class="col-6">
    <nb-card>
      <nb-card-header>
        Sector
      </nb-card-header>
      <nb-card-body>
        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="results" [legend]="showLegend" [labels]="showLabels">
        </ngx-charts-pie-chart>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-lg-6">
    <nb-card>
      <nb-card-header>Pie</nb-card-header>
      <nb-card-body>
        <ngx-charts-pie-chart [scheme]="colorScheme" [results]="results" [legend]="showLegend" [labels]="showLabels">
        </ngx-charts-pie-chart>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Overall Records
      </nb-card-header>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Gain Records">
          <ng2-smart-table [settings]="settings" [source]="gainOverallRecords"></ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="Loss Records">
          <ng2-smart-table [settings]="settings" [source]="lossOverallRecords"></ng2-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <nb-card>
      <nb-card-header>
        Daily Records
      </nb-card-header>
      <nb-tabset fullWidth>
        <nb-tab tabTitle="Gain Records">
          <ng2-smart-table [settings]="settings" [source]="gainDailyRecords"></ng2-smart-table>
        </nb-tab>
        <nb-tab tabTitle="Loss Records">
          <ng2-smart-table [settings]="settings" [source]="lossDailyRecords"></ng2-smart-table>
        </nb-tab>
      </nb-tabset>
    </nb-card>
  </div>
</div>
