@import './src/app/@theme/styles/themes';
@include nb-install-component() {

  ngx-charts-pie-chart{
    display: block;
    width: 100%;
    height: nb-theme(card-height-medium);
    max-height: 500px;
  }
  ngx-charts-bar-vertical{
    display: block;
    width: 100%;
    height: nb-theme(card-height-short);
    max-height: 500px;


    /*  ::ng-deep {
        .pie-label {
          fill: nb-theme(text-basic-color);
        }

        text {
          fill: nb-theme(text-hint-color);
        }

        .chart-legend {
          .legend-labels {
            background: nb-theme(background-basic-color-2);
          }
          .legend-label {
            color: nb-theme(text-hint-color);
            .active .legend-label-text {
              color: nb-theme(text-basic-color);
            }
          }
        }

        .total-value,
        .item-value,
        .item-percent {
          line-height: 1.25;
        }

      }*/
  }
}

.chartRow nb-card-body{
  padding: 1rem 0;
}

ng2-smart-table{
  display: block;
  width: 100%;
}
::ng-deep .nb-theme-default ng2-smart-table table tr th,::ng-deep .nb-theme-default ng2-smart-table table tr th a  {
  font-weight: bold !important;
}
/*::ng-deep .nb-theme-default ng2-smart-table tbody tr:nth-child(2n),::ng-deep .nb-theme-default ng2-smart-table tbody tr:nth-child(2n):hover {
  background-color: #1995AD !important;
}*/

::ng-deep .nb-theme-default ng2-smart-table table {
  tr.ng2-smart-titles, tr.ng2-smart-row, tr.ng-star-inserted{
    th{
      font-weight: bold
      a{
      font-weight: bold
    }
    .ng2-smart-title{
      white-space: nowrap;
    }
  }
  th, td{
    padding: 0.5rem 1rem;
  }
  td, th{
    font-size: 0.700rem;
    .ng2-smart-sort-link {
      font-size: 0.700rem;
    }
  }}
}

::ng-deep .nb-theme-default nb-tabset .tab-link{
  font-size: 0.675rem;
}

.gain-loss-records{
  .gain-loss-records-container{
  nb-card{
    height: 100%;
    margin: 0;
    nb-tab{
      padding: 1rem;
    }
  }

  margin-bottom: 1.875rem;
}
}
.gainRecords ::ng-deep tbody tr,
.gainRecords ::ng-deep  tbody tr:hover,
.gainRecords ::ng-deep  tbody tr.selected{
    background: rgba(25, 149, 174, 0.3) !important;

}
.gainRecords ::ng-deep tbody tr:nth-child(2n),
.gainRecords ::ng-deep  tbody tr:nth-child(2n):hover,
.gainRecords ::ng-deep  tbody tr.selected:nth-child(2n),
.lossRecords ::ng-deep tbody tr:nth-child(2n),
.lossRecords ::ng-deep  tbody tr:nth-child(2n):hover,
.lossRecords ::ng-deep  tbody tr.selected:nth-child(2n)
{
  background: rgba(241, 241, 242, 0.4) !important;
}
.lossRecords ::ng-deep  tbody tr,
.lossRecords ::ng-deep  tbody tr:hover,
.lossRecords ::ng-deep  tbody tr.selected{
  background: rgba(247, 0, 37, 0.4) !important;

}

/*::ng-deep .nb-theme-default ng2-smart-table tbody tr,
::ng-deep .nb-theme-default ng2-smart-table tbody tr:hover,
::ng-deep .nb-theme-default ng2-smart-table tbody tr.selected{
  //background: rgb(241,241,242) !important;
  background: rgba(25, 149, 174, 0.3)!important;

}*/

